/* Navbar starts */
.navbar {
    background-color: #E9F8F9;
    height: 60px;
    margin: 20px;
    border-radius: 12px; 
    padding: 4px 12px;
}
.navbar-brand {
    font-weight: 500 !important;
    color: #387478 !important;
    font-size: 20px !important;
    transition: 0.3s color !important;
    font-family: 'Lucida Sans';
}
.navbar-brand:hover {
    color: #629584 !important;
}
.login-button {
    background-color: #387478;
    color: #fff;
    font-size: 12px; 
    padding: 6px 16px; 
    border-radius: 40px; 
    text-decoration: none;
    transition: 0.3s background-color;
    border: none !important;
}
.login-button:hover {
    background-color: #629584;
}
.navbar-toggler {
    border: none !important;
    font-size: 16px; 
    padding: 6px 8px;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
}
.nav-link {
    color: #666777 !important;
    font-weight: 500;
    font-size: 14px !important; 
    position: relative;
}
.nav-link:hover, .nav-link.active {
    color: #000 !important;
}
.nav-link {
    position: relative;
    display: inline-block;
}
.navbar .container h3 {
    font-size: 45px; 
    color: #E2F1E7;
    font-family: "Lucida Calligraphy", cursive;
    margin: 0; 
}
.navbar .container p {
    font-size: 16px; 
    color: #fff; 
    padding: 16px 0;
    line-height: 1.5;
    margin: 0; 
}


/* Modal Signin starts */
#modalSignin .btn-primary, 
#modalSignup .btn-primary {
    background-color: #387478 !important; 
    border-color: #387478 !important;     
}
#modalSignin .btn-primary:hover, 
#modalSignup .btn-primary:hover {
    background-color: #629584 !important;  
    border-color: #629584 !important;     
}
#modalSignin .btn-outline-secondary,
#modalSignup .btn-outline-secondary,
#modalSignin .btn-outline-primary, 
#modalSignup .btn-outline-primary {
    color: #387478 !important;  
    border-color: #387478 !important; 
}
#modalSignin .form-control,
#modalSignup .form-control {
    font-size: 12px; 
    padding: 8px; 
    height: auto; 
}
#modalSignin label,
#modalSignup label {
    font-size: 12px; 
}
#modalSignin .btn,
#modalSignup .btn {
    font-size: 12px; 
    padding: 8px 16px; 
}
#modalSignin .form-check-label,
#modalSignup .form-check-label {
    font-size: 12px; 
}


/* modal for signup */
#modalSignup .modal-header,
#modalSignup .modal-body {
    padding: 32px; 
}


/* Home section */
#home {
    background: url('images/home.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
#home .container {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}
.container h3 {
    font-size: 45px; 
    color: #E2F1E7;
    font-family: "Lucida Calligraphy", cursive;
    margin: 0; 
}
.container p {
    font-size: 16px; 
    color: #fff; 
    padding: 16px 0;
    line-height: 1.5;
    margin: 0; 
}
.offcanvas.offcanvas-end {
    width: 250px !important; 
}
.offcanvas-title {
    color: #387478;
}

@media (max-width: 768px) {
    #home h3 {
        font-size: 30px; 
    }
    #home p {
        font-size: 16px; 
    }
}
@media (max-width: 576px) {
    #home h3 {
        font-size: 25px; 
    }
    #home p {
        font-size: 14px; 
    }
}
@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%; 
        height: 2px;
        background-color: #387478;
        visibility: hidden;
        transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, 
    .nav-link.active::before {
        width: 100%; 
        visibility: visible;
    }
}


/* about us section */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto, sans-serif; 
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading1 {
    text-align: center;
    padding-top: 95px;
    font-size: 30px;
    color: #629584;
    font-weight: bold;
    border-bottom: 2px solid #629584;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.heading p{
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}
#about-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    padding-top: -50px;
}
.about-image img{
    max-width: 85%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 25px;
    margin-bottom: 15px;
    color: #333; 
    font-family: 'Lucida Sans'; 
}
.about-content p{
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    background-color: #387478;
    font-family: 'Lucida Sans'; 
}
.about-content .read-more:hover{
    background-color: #629584;
}
@media screen and (max-width: 768px) {
    .heading{
        padding: 0px 10px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .box-container{
        padding: 0px;
    }
   #about-id{
    padding: 20px;
    flex-direction: column;
   }
   .about-image{
    width: 250px;
    height: 150px;
    margin-right: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
   }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;    
    }
}


/* products section */
#products{
    width: 100%;
    margin-top: 60px;
}
#products {
    width: 100%;
    margin-top: 60px;
}
#products .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
}
#products .card img {
    width: 100%;
    padding-top: 20px;
    max-width: 100%; 
    height: 350px; 
    margin: 0 auto;
    display: block;
    transition: 0.5s ease;
}
#products .card:hover img{
    transform: scale(.9);
}

.heading2{
    text-align: center;
    padding-top: 95px;
    font-size: 30px;
    color: #629584;
    font-weight: bold;
    border-bottom: 2px solid #629584;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;

}
@media (max-width: 768px) {
    .heading1 {
        font-size: 24px; 
    }
    #products .card img {
        max-width: 90%; 
    }
}
@media (max-width: 576px) {
    .heading1 {
        font-size: 20px;
    }
}
#container2{
    margin-top: 30px;
}
#products .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
}
#products .card img {
    width: 100%;
    padding-top: 20px;
    max-width: 250px;
    max-height: 300px;
    margin: 0 auto;
    display: block;
}
.star i{
    color: #629584;
}
#products h3{
    text-align: center;
    color: #629584;
    margin-top: 10px;
    font-size: 25px;
}
#products p{
    font-size: 16px;
    color: #629584;
    padding-top: 10px;
}
#products p span{
    float: right;
    cursor: pointer;
}


/* Gallery section */
.titles {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color: #629584;
    font-weight: bold;
    border-bottom: 2px solid #629584;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.gallery .box-container .box {
    width: 400px;
    height: 240px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}
.gallery .box-container .box .discount {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background-color: #629584; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 16px; 
    z-index: 15; 
}
.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    transition: transform 0.5s ease-in-out;
}
.gallery .box-container .box:hover img {
    transform: scale(1.2);
}
.gallery .box-container .box .icons {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 24px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.gallery .box-container .box:hover .icons {
    opacity: 1;
}
.gallery .box-container .box .icon {
    font-size: 24px;
    color: #fff;
    margin: 0 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.gallery .box-container .box .icon:hover {
    color: #629584;
}
@media (max-width: 1200px) {
    .gallery .box-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery .box-container .box {
        width: 100%;
        height: 240px;
    }
}
@media (max-width: 767px) {
    .titles {
        font-size: 24px;
        padding-top: 50px;
        margin-bottom: 40px;
    }
    .gallery .box-container {
        grid-template-columns: 1fr;
    }
    .gallery .box-container .box {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    .gallery .box-container .box img {
        max-height: 240px;
        height: auto;
    }
    .gallery .box-container .box:hover img {
        transform: scale(1.2);
    }
    .gallery .box-container .box .icon {
        font-size: 20px;
    }
    .gallery .box-container .box .icon:hover {
        color: #629584;
    }
}


/* Reviews section */
































/* contact Us section */









/* Footer */
